/* Slider Pagination / Bullets */

.m-slider {

	& &__pagination {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		bottom: 0;

		.swiper-pagination-bullet {
			border: 1px solid var(--swiper-pagination-bullet-border);
			transition: border var(--base-transition), background var(--base-transition);
			border-radius: var(--swiper-pagination-radius);

			&-active,
			&:hover {
				border-color: var(--swiper-pagination-bullet-border-active);
			}
		}

        &.has-combo-progress {
            .swiper-pagination-progressbar-fill {
                transition: all 300ms;
                transform: scaleX(var(--data-progress));
            }
        }
	}

	.swiper-pagination-progressbar {
		top: auto !important;
		bottom: 0;
	}
}
