/**
 * Woocommerce: Checkout Form
 */

.woocommerce-shipping-fields {
  margin-bottom: 4rem;
}

// Billing details section
.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-row {
    flex: 0 0 calc(50% - 15px);
    width: calc(50% - 15px);

    @include media("<=tablet") {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  #billing_address_1_field,
  #billing_address_2_field {
    flex: 0 0 100%;
    width: 100%;
  }
}
