/**
 * Woocommerce: Form Selects
 */

.woocommerce {
  --wc-select-arrow-bgd: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.42858 1.00005L5.00003 4.00005L1.57142 1L1 1.5L4.99997 5L9 1.50005L8.42858 1.00005Z' fill='%23021419' stroke='%23021419' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  --wc-select-arrow-height: 30px;
  --wc-select-arrow-position: center;
  --wc-select-arrow-width: 30px;
}

body .select2-container--default {
  z-index: 98 !important;
}

body.woocommerce {
  select {
    appearance: none;
    background-image: var(--wc-select-arrow-bgd);
    background-position: right 15px center;
    background-repeat: no-repeat;
  }
}

// Select2 plugin styling
.select2-container--default {
  background: var(--input-background-color, #fff);
  border: var(--input-border-width, 1px) solid var(--input-border-color, #666);
  border-radius: var(--input-border-radius, 5px);
  box-sizing: border-box;
  color: var(--input-color);
  font-size: var(--input-font-size, 16px);
  font-weight: var(--input-font-weight, 400);
  line-height: var(--wc-input-line-height);

  .select2-selection--single {
    background: transparent;
    border: none;
    border-radius: 0;
    height: 100%;
    margin: 0;
    padding: var(--input-padding-top-bottom, 4px) var(--input-padding-left-right, 10px);

    .select2-selection__rendered {
      color: var(--input-color);
      font-size: var(--input-font-size, 16px);
      font-weight: var(--input-font-weight, 400);
      line-height: inherit;
      padding-left: 0;
      text-align: left;
      width: 100%;
      display: block;
    }

    .select2-selection__arrow {
      height: var(--wc-select-arrow-height);
      top: 50%;
      transform: translateY(-50%);
      width: var(--wc-select-arrow-width);

      b {
        background-image: var(--wc-select-arrow-bgd);
        background-position: var(--wc-select-arrow-position);
        background-repeat: no-repeat;
        border: 0;
        height: 100%;
        margin: 0;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
  }

  .select2-results__option--highlighted[data-selected] {
    background: var(--primary-color2);
  }
}
