//@mixin bg-overlay {
//    position: fixed;
//    background: rgba(16, 16, 16, 0.15);
//    backdrop-filter: blur(5px);
//    height: 100%;
//    width: 100%;
//    left: 0;
//    top: 0;
//    z-index: -1;
//}

.ds-acc-overlay {
    @include has-full-overlay;
    animation: overlay-appear .25s linear both;
}

.ds-cart-overlay {
    @include has-full-overlay(1002);
    animation: overlay-appear .25s linear both;
}

.ds-menu-active,
.ds-cart-sidebar.ds-cart-active {
    overflow: hidden;
}
