.l-footer-v2 {

	.footer-top__inner,
	.footer-bottom__inner {
		@include media(">tablet") {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.footer-top {
		.footer-nav {
			@include media(">tablet") {
				justify-content: center;
			}
		}
	}

	.social-list {
		@include media(">tablet") {
			justify-content: flex-end;
		}
	}

}
