.svg-arrow {
	background: url("svg-sprite.svg") 87.32741345393708% 69.23732424371538% no-repeat;
}

.svg-arrow-dims {
	width: 12.428px;
	height: 24.24px;
}

.svg-arrow-orange-right {
	background: url("svg-sprite.svg") 65.6248316527173% 56.39392198840792% no-repeat;
}

.svg-arrow-orange-right-dims {
	width: 25.809px;
	height: 20.49px;
}

.svg-basket {
	background: url("svg-sprite.svg") 13.333333333333334% 87.5% no-repeat;
}

.svg-basket-dims {
	width: 20px;
	height: 20px;
}

.svg-calendar {
	background: url("svg-sprite.svg") 22.857142857142858% 87.5% no-repeat;
}

.svg-calendar-dims {
	width: 20px;
	height: 20px;
}

.svg-icon-filters {
	background: url("svg-sprite.svg") 77.57718446601942% 55.38461538461539% no-repeat;
}

.svg-icon-filters-dims {
	width: 24px;
	height: 17px;
}

.svg-lib-icon-2 {
	background: url("svg-sprite.svg") 0 24.074074074074073% no-repeat;
}

.svg-lib-icon-2-dims {
	width: 104px;
	height: 104px;
}

.svg-lib-icon-3 {
	background: url("svg-sprite.svg") 51% 71.03825136612022% no-repeat;
}

.svg-lib-icon-3-dims {
	width: 30px;
	height: 29px;
}

.svg-lib-icon-arrow1 {
	background: url("svg-sprite.svg") 85.89205607476636% 54.2713567839196% no-repeat;
}

.svg-lib-icon-arrow1-dims {
	width: 16px;
	height: 13px;
}

.svg-lib-icon-arrow2 {
	background: url("svg-sprite.svg") 93.2847926267281% 66.3265306122449% no-repeat;
}

.svg-lib-icon-arrow2-dims {
	width: 13px;
	height: 16px;
}

.svg-lib-icon-arrow3 {
	background: url("svg-sprite.svg") 52% 56.544502617801044% no-repeat;
}

.svg-lib-icon-arrow3-dims {
	width: 30px;
	height: 21px;
}

.svg-lib-icon-arrow4 {
	background: url("svg-sprite.svg") 12.217194570135746% 99.4949494949495% no-repeat;
}

.svg-lib-icon-arrow4-dims {
	width: 9px;
	height: 14px;
}

.svg-lib-icon-arrow5 {
	background: url("svg-sprite.svg") 22.93577981651376% 97.52475247524752% no-repeat;
}

.svg-lib-icon-arrow5-dims {
	width: 12px;
	height: 10px;
}

.svg-lib-icon-arrow6 {
	background: url("svg-sprite.svg") 85.86542056074767% 85.71428571428571% no-repeat;
}

.svg-lib-icon-arrow6-dims {
	width: 16px;
	height: 16px;
}

.svg-lib-icon-arrow7 {
	background: url("svg-sprite.svg") 37.254901960784316% 73.86363636363636% no-repeat;
}

.svg-lib-icon-arrow7-dims {
	width: 26px;
	height: 36px;
}

.svg-lib-icon-envelop {
	background: url("svg-sprite.svg") 93.36869158878505% 54% no-repeat;
}

.svg-lib-icon-envelop-dims {
	width: 16px;
	height: 12px;
}

.svg-lib-icon-minus {
	background: url("svg-sprite.svg") 65.13761467889908% 30.476190476190474% no-repeat;
}

.svg-lib-icon-minus-dims {
	width: 12px;
	height: 2px;
}

.svg-lib-icon-phone {
	background: url("svg-sprite.svg") 93.34205607476636% 85.71428571428571% no-repeat;
}

.svg-lib-icon-phone-dims {
	width: 16px;
	height: 16px;
}

.svg-lib-icon-pin {
	background: url("svg-sprite.svg") 0 100% no-repeat;
}

.svg-lib-icon-pin-dims {
	width: 12px;
	height: 15px;
}

.svg-lib-icon-plus {
	background: url("svg-sprite.svg") 100% 0 no-repeat;
}

.svg-lib-icon-plus-dims {
	width: 12px;
	height: 12px;
}

.svg-lib-icon-search {
	background: url("svg-sprite.svg") 16.666666666666668% 99.4949494949495% no-repeat;
}

.svg-lib-icon-search-dims {
	width: 14px;
	height: 14px;
}

.svg-lib-icon-x {
	background: url("svg-sprite.svg") 100% 6% no-repeat;
}

.svg-lib-icon-x-dims {
	width: 12px;
	height: 12px;
}

.svg-logo {
	background: url("svg-sprite.svg") 0 0 no-repeat;
}

.svg-logo-dims {
	width: 218px;
	height: 26px;
}

.svg-mail {
	background: url("svg-sprite.svg") 51.13014219450993% 87.31082654249127% no-repeat;
}

.svg-mail-dims {
	width: 19.584px;
	height: 19.584px;
}

.svg-phone {
	background: url("svg-sprite.svg") 41.8223122035606% 87.31173407340422% no-repeat;
}

.svg-phone-dims {
	width: 19.586px;
	height: 19.586px;
}

.svg-phone2 {
	background: url("svg-sprite.svg") 69.22264150943397% 87.04663212435233% no-repeat;
}

.svg-phone2-dims {
	width: 18px;
	height: 19px;
}

.svg-pin {
	background: url("svg-sprite.svg") 54.166666666666664% 15.476190476190476% no-repeat;
}

.svg-pin-dims {
	width: 38px;
	height: 44px;
}

.svg-search {
	background: url("svg-sprite.svg") 60.43684475662728% 87.30991903044414% no-repeat;
}

.svg-search-dims {
	width: 19.582px;
	height: 19.582px;
}

.svg-social-facebook {
	background: url("svg-sprite.svg") 66% 70.65217391304348% no-repeat;
}

.svg-social-facebook-dims {
	width: 30px;
	height: 28px;
}

.svg-social-instagram {
	background: url("svg-sprite.svg") 0 91.80327868852459% no-repeat;
}

.svg-social-instagram-dims {
	width: 28px;
	height: 29px;
}

.svg-social-linkedin {
	background: url("svg-sprite.svg") 5.5813953488372094% 99.4949494949495% no-repeat;
}

.svg-social-linkedin-dims {
	width: 15px;
	height: 14px;
}

.svg-social-twitter {
	background: url("svg-sprite.svg") 78.08151658767773% 86.5979381443299% no-repeat;
}

.svg-social-twitter-dims {
	width: 19px;
	height: 18px;
}

.svg-social-youtube {
	background: url("svg-sprite.svg") 80.1980198019802% 70.65217391304348% no-repeat;
}

.svg-social-youtube-dims {
	width: 28px;
	height: 28px;
}

.svg-spinner-fullscreen {
	background: url("svg-sprite.svg") 73.95833333333333% 14.942528735632184% no-repeat;
}

.svg-spinner-fullscreen-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-next {
	background: url("svg-sprite.svg") 93.75% 14.942528735632184% no-repeat;
}

.svg-spinner-next-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-pause {
	background: url("svg-sprite.svg") 54.166666666666664% 40.229885057471265% no-repeat;
}

.svg-spinner-pause-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-play {
	background: url("svg-sprite.svg") 73.95833333333333% 40.229885057471265% no-repeat;
}

.svg-spinner-play-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-prev {
	background: url("svg-sprite.svg") 93.75% 40.229885057471265% no-repeat;
}

.svg-spinner-prev-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-zoomin {
	background: url("svg-sprite.svg") 0 74.71264367816092% no-repeat;
}

.svg-spinner-zoomin-dims {
	width: 38px;
	height: 38px;
}

.svg-spinner-zoomout {
	background: url("svg-sprite.svg") 19.791666666666668% 74.71264367816092% no-repeat;
}

.svg-spinner-zoomout-dims {
	width: 38px;
	height: 38px;
}

.svg-wishlist {
	background: url("svg-sprite.svg") 32.38095238095238% 87.5% no-repeat;
}

.svg-wishlist-dims {
	width: 20px;
	height: 20px;
}

