/**
 * Woocommerce: Account Wishlist Table
 */
@if $--wc-account__wishlist == ON {
  @if $--wc-plugins__wishlist == ON {
    // Table for wishlist plugin
    table.tinvwl-table-manage-list {
      thead th, tbody td {

        &:first-child {
          padding-left: var(--wc-table-padding-l-first-column);
          text-align: left;
        }

        &:last-child {
          text-align: left;
        }
      }

      thead {
        th {
          background: var(--wc-table-th-bgd);
          font-size: var(--wc-table-th-fs);
          font-weight: var(--wc-table-th-fw);
          font-family: var(--wc-table-th-ff);
          text-transform: var(--wc-table-th-tt);
          padding: var(--wc-table-th-padding);

          &.product-cb {
            padding: 0;
          }
        }
      }

      tbody {
        td {
          background: var(--wc-table-td-bgd);
          font-size: var(--wc-table-td-fs);
          font-weight: var(--wc-table-td-fw);
          font-family: var(--wc-table-td-ff);
          padding: var(--wc-table-td-padding);

          &.product-remove {
            button {
              @include icon-delete;

              i {
                display: none;
              }
            }
          }

          &.product-thumbnail {

          }

          &.product-name {

          }

          &.product-stock {
            line-height: 1.2;

            p {
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }

            i {
              margin-right: 5px;
            }

            .in-stock {
              color: var(--wc-color-success);
            }

            .out-of-stock {
              color: var(--wc-color-error);
            }

            .available-on-backorder {
              color: var(--wc-color-notice);
            }
          }

          &.product-action {
            --btn-padding-top-bottom: 14px;
            --btn-padding-left-right: 1.6em;
          }
        }
      }

      tfoot {
        td {
          padding-left: 0;
          padding-right: 0;

          .tinvwl-break-input-filed {
            border-color: var(--input-border-color);
          }

          select {
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.42858 1.00005L5.00003 4.00005L1.57142 1L1 1.5L4.99997 5L9 1.50005L8.42858 1.00005Z' fill='%23021419' stroke='%23021419' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-position: right 15px center;
            background-repeat: no-repeat;
          }
        }
      }

      // Bottom wishlist section // Apply action, add to cart button etc
      .tinvwl-input-group {
        display: flex;
        align-items: stretch;

        .form-control {
          float: none;
          height: auto;
          margin: 2px 0; // TODO: Same as button margin
        }

        &-btn {
          width: auto;
        }
      }
    }

    @include media("<=tablet") {
      table.tinvwl-table-manage-list {
        tbody {
          tr.wishlist_item {
            display: flex;
            flex-wrap: wrap;

            td {
              padding: .5em 2rem;

              &:first-child {
                padding-top: 2rem;
              }

              &:last-child {
                padding-bottom: 2rem;
              }

              &.product-cb,
              &.product-remove {
                display: inline-flex;
                align-items: center;
                width: 50% !important;
              }

              &.product-cb {
                text-align: left;
                align-items: flex-start;

                input {
                  margin-top: 5px;
                }
              }

              &.product-remove {
                text-align: right !important;

                > * {
                  margin: 0;
                }

                button {
                  margin-left: auto;
                }
              }

              &.product-thumbnail {
                img {
                  max-width: 120px;
                }
              }

              &.product-name {
                font-size: 2.4rem;
                font-weight: bold;
              }

              &.product-stock {
                p {
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
