.navbar-mobile {
	--burger-width: 24px;
	--burger-segment-height: 3px;
	--burger-segment-gap: 7px;
	--burger-segment-radius: 5px;
	--burger-color: #fff;
	--burger-bg: var(--primary-color1);
	--header-mobile-bg: var(--primary-color1);
	--link-size-l1: 16px;
	--link-size-l2: 16px;
	--link-color: #fff;
	--link-gap: 10px;

	--toggle-submenu-btn-width: 40px;
	--toggle-submenu-btn-height: 40px;
	--toggle-submenu-btn-bdg: var(--primary-color1);
}
