.l-rcbl {
    --l-block-gap-vertical: 15px;
    --l-block-gap-horizontal: 20px;
    --l-block-title-size: var(--base-text-size);
    --c-block-font-size: var(--base-text-size);
    --c-block-color: var(--primary-text-color);
    --section-title-color: var(--primary-text-color);
    --c-block-radius: 0;

    .-colors-inverted &,
    .style-dark & {
        --c-block-color: var(--primary-text-color-alt);
        --section-title-color: var(--primary-text-color-alt);
    }

    @include media('>tablet') {
        &, [data-container="ajax-result"] {
            display: grid;
            grid-template: auto / repeat(var(--l-block-col, 4), minmax(0, 1fr)); // columns are always with equal width
            row-gap: var(--l-block-gap-vertical);
            column-gap: var(--l-block-gap-horizontal);
        }

        .js-ajax-block {
            grid-column: 1/-1;
        }
    }

    &__col {

        @include media('<=tablet') {
            margin-bottom: 20px;
        }
        @include media('<=desktop') {
            --l-block-gap: 15px;
        }
    }

    .c-block {
        position: relative;
        height: auto;
        min-height: 100%;
        color: var(--c-block-color);

        &__link-full {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 1;
        }

        &__description {
            font-size: var(--c-block-font-size);
        }
    }

    .c-image {
        height: 100%;
        width: 100%;

        &__src {
            height: 100%;
        }
    }

    /* Vertical c-block direction */


    /* Horizontal c-block direction */

    .is-horizontal {
        display: flex;

        .c-block__media {
            min-width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        .c-image__primary {
            position: absolute;
            top: 0;
        }
        .c-image {
            @include aspect-ratio(3,4);
        }
    }

    .align-top {
        .c-block__media {
            align-items: flex-start;
        }
    }

    .align-bottom {
        .c-block__media {
            align-items: flex-end;
        }
    }

}

