.l-tbpanel {
	&__item {
		display: none;

		.wp-admin & {
			display: block;
			margin-bottom: 20px;
		}

		@include media('<=desktop') {
			.js-tabs-to-acc-wrapper & {
				display: block;
			}
			.c-block {
				flex-direction: column;
			}
		}

		.l-accordion {
			display: none;
		}

		&.is-active {
			display: block;

			.l-accordion {
				.is-block & {
					display: block;
				}
			}
		}
	}

	/* Mobile Title */

	&__label {
		@include media('>desktop') {
			display: none;
		}
		@include media('<=desktop') {
			display: block;
			padding: 10px 20px;
			background-color: var(--tbnav-mobile-bg);
			color: var(--tbnav-mobile-color);
			margin-bottom: 2px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				width: 9px;
				height: 9px;
				border-top: 2px solid var(--tbnav-mobile-color);
				border-right: 2px solid var(--tbnav-mobile-color);
				right: 14px;
				top: 40%;
				transform: translateY(-50%) rotate(135deg);
				transition: transform .1s ease-in;

				.is-active & {
					transform: translateY(0) rotate(-45deg);
				}
			}
		}
	}
}
